body {
  background: #ffe6f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.calculator {
  background: #f77bd0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.display {
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #fff0f5;
  text-align: right;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background-color: #ff98fc;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #ff69b4;
}
